.notes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .note {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 8px 16px;

        &:hover {
            background-color: #f4f4f4;
        }

        .note-name {
            text-transform: uppercase;
            width: 30px;
        }

        img {
            height: 64px;
            width: auto;
            margin-left: 16px;
        }
}

}
